#nav {
  @apply w-full p-2;
  @apply shadow;

  #nav-header {
    @apply flex;

    p {
      @apply flex-grow self-center text-center text-2xl font-bold;
    }
  }
}

@screen md {
  #nav {
    @apply min-h-screen;

    #nav-header {
      p {
        @apply hidden;
      }
    }
  }
}
