#station #station-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'title title title title'
    'title title title title'
    'date date date date'
    'counters counters counters counters'
    'counters counters counters counters'
    'counters counters counters counters'
    'counters counters counters counters'
    'btn btn btn btn';
  box-sizing: border-box;

  @apply rounded-md shadow-md;
  @apply p-2 my-2 gap-2;

  h2 {
    grid-area: title;
    place-self: center;

    @apply text-lg font-bold;
  }

  small {
    grid-area: date;
    place-self: center;
    @apply text-gray-500;
  }

  .main-btn {
    grid-area: btn;
  }

  .counters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'memberships topics';
    grid-area: counters;

    .counter {
      @apply text-gray-600 text-center;
      place-self: center;

      &:nth-of-type(1) {
        grid-area: memberships;
      }

      &:nth-of-type(2) {
        grid-area: topics;
      }
    }
  }
}

@screen md {
  #station #station-info {
    @apply w-2/4 mx-auto;
  }
}

@screen xl {
  #station #station-info {
    @apply w-1/3;
  }
}
