#station #station-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'title title title title'
    'title title title title'
    'image image image image'
    'image image image image'
    'date date date date'
    'counters counters counters counters'
    'counters counters counters counters'
    'counters counters counters counters'
    'counters counters counters counters'
    'main-btn main-btn main-btn main-btn';
  box-sizing: border-box;

  @apply rounded-md;
  @apply shadow;
  @apply p-2 my-2 gap-2;

  h2 {
    grid-area: title;
    place-self: center;

    @apply text-lg font-bold;
  }

  small {
    grid-area: date;
    place-self: center;
    @apply text-gray-500;
  }

  #station-avatar {
    grid-area: image;
    place-self: center;
  }

  .buttons {
    grid-area: main-btn;
    @apply grid gap-2;

    &.three-btns-formation {
      grid-template-rows: repeat(3, 1fr);
    }

    &.two-btns-formation {
      grid-template-rows: repeat(2, 1fr);
    }

    &.one-btn-formation {
      grid-template-rows: auto;
    }

    .manage-btn {
      @apply bg-teal-500;
    }
  }

  .leave-btn {
    @apply bg-red-400 text-white;
  }

  .counters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'memberships topics';
    grid-area: counters;

    .counter {
      @apply text-gray-600 text-center;
      place-self: center;

      &:nth-of-type(1) {
        grid-area: memberships;
      }

      &:nth-of-type(2) {
        grid-area: topics;
      }
    }
  }
}

@screen md {
  #station #station-info {
    @apply w-2/3 mx-auto;

    .buttons {
      &.three-btns-formation {
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
      }

      &.two-btns-formation {
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
      }

      &.one-btn-formation {
        grid-template-rows: auto;
        grid-template-columns: auto;
      }
    }
  }
}

@screen xl {
  #station #station-info {
    @apply w-1/3;
  }
}
