#subscriptions .station-subscription-card {
  @apply flex flex-col justify-between;
  @apply rounded-md shadow-md;
  @apply p-2;

  .body {
    @apply flex flex-col;
    h2 {
      @apply font-semibold inline-block;
    }
  }

  .buttons {
    @apply grid gap-2 mt-2;
    .manage-btn {
      @apply bg-teal-400 text-white;
    }
    .leave-btn {
      @apply bg-red-400 text-white;
    }
  }

  &:nth-child(even) {
    @apply my-2;
  }
}

@screen md {
  #subscriptions .station-subscription-card {
    @apply flex-row;

    .buttons {
      @apply mt-0;
    }
  }
}
