.topic-card {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'sidebar header header'
    'sidebar main main'
    'sidebar main main'
    'sidebar footer footer';

  @apply rounded;
  @apply shadow-md;

  header {
    grid-area: header;
    @apply p-2;

    .link {
      @apply text-xs;
      vertical-align: baseline;
      min-width: 0;
    }

    .date {
      display: block;
    }

    .title {
      @apply text-lg font-bold;
    }

    /* @apply bg-green-500; */
  }

  aside {
    grid-area: sidebar;
    /* @apply p-2; */
    @apply flex flex-col self-stretch;
    @apply text-center;
    @apply rounded-l-md;
    .voted {
      @apply font-bold;
    }

    .votes-count {
      @apply text-base py-2;
    }

    .vote-btn {
      @apply rounded-none;

      &:after,
      &:before {
        @apply outline-none;
      }

      &:nth-of-type(1) {
        @apply rounded-tl-md;
      }
    }
  }

  main {
    grid-area: main;
    @apply p-2 text-sm;
  }

  footer {
    grid-area: footer;
    .btn {
      @apply rounded-none;
    }
    /* @apply bg-blue-500; */
  }

  &:nth-of-type(even) {
    @apply my-2;
  }
}

@screen md {
  .topic-card {
    @apply w-2/3 mx-auto;
    grid-template-columns: 10% 40% 50%;
  }
}

@screen xl {
  .topic-card {
    @apply w-1/3;

    header {
      .link {
        @apply text-sm;
      }
      .title {
        @apply text-xl;
      }
    }

    .main-link {
      grid-area: main;
      @apply p-2 text-base;
    }
  }
}
