.topic {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';

  header {
    grid-area: header;
    @apply bg-green-500;
  }

  aside {
    grid-area: sidebar;
    @apply bg-purple-500;
  }

  main {
    grid-area: main;
    @apply bg-red-700;
  }

  footer {
    grid-area: footer;
    @apply bg-blue-500;
  }
}
