.user-card {
  @apply w-full mx-auto;
  @apply rounded p-2;
  @apply flex flex-col;
  @apply justify-start items-start;
  @apply shadow border;
}

@screen md {
  .user-card {
    @apply w-2/3;
  }
}

@screen xl {
  .user-card {
    @apply w-1/3;
  }
}
