#home {
  #home-profile {
    @apply p-2 flex flex-col;
    .card {
      @apply grid gap-2;

      .avatar {
        @apply mx-auto;
      }
    }

    .options-btn {
      @apply grid grid-rows-1 mt-2;
    }
  }
}

@screen md {
  #home {
    #home-profile {
      /* @apply bg-pink-700; */
      @apply flex-row;
      .card {
        @apply flex-grow grid-cols-3 px-2;
        .btn {
          @apply my-auto;
        }
      }

      .options-btn {
        @apply my-auto;
      }
    }
  }
}

@screen xl {
  #home {
    #home-profile {
      @apply flex-col;
      .card {
        @apply grid-cols-2 grid-rows-2 p-2 flex-grow-0;

        .avatar {
          @apply col-span-2 w-16 h-16 bg-red-600;
        }

        .btn {
          @apply mb-0 mt-auto outline-none;
        }
      }

      .options-btn {
        @apply flex flex-col mb-0 mt-auto;
        /* @apply grid grid-rows-2 gap-2 mb-0 mt-auto; */
        .logout-btn {
          @apply mt-2;
        }
      }
    }
  }
}
