#search {
  @apply flex-grow max-h-screen h-full;
  @apply px-2 mx-auto;
  @apply w-full;

  .tabs {
    @apply h-full flex flex-col;
    .tab-list {
      @apply my-2;
      .tab {
        @apply outline-none;

        &:nth-last-of-type(even) {
          @apply mx-2;
        }
      }
    }

    .tab-panels {
      @apply h-full flex flex-col;

      .tab-panel {
        @apply h-full;
      }
    }
  }

  .station-card:nth-child(even),
  .user-card:nth-child(even) {
    @apply my-2;
  }
}

@screen md {
  #search {
    @apply p-0;
  }
}
