#router #main #sign-in {
  @apply w-full;
  @apply p-4;
  @apply shadow;

  #heading {
    @apply font-bold text-4xl uppercase;
    @apply text-center;
    @apply mb-4;
  }

  form {
    @apply flex flex-col;

    #icon {
      @apply m-auto;
    }

    .form-control {
      @apply mb-4;
    }
  }
}

@screen md {
  #router #main #sign-in {
    @apply w-3/4 m-auto;
    @apply rounded-md;
  }
}

@screen xl {
  #router #main #sign-in {
    @apply w-1/4;
  }
}
