#subscriptions {
  @apply flex flex-col;
  @apply w-full mx-auto p-2;

  .station:nth-child(even) {
    @apply my-2;
  }
}

@screen md {
  #subscriptions {
    @apply w-1/2;
  }
}

@screen xl {
  #subscriptions {
    @apply w-1/3;
  }
}
