@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import './router.css';

@import './components/MemberCard.css';

@import './components/Nav.css';

@import './components/StationInfo.css';

@import './components/SubscriptionStationCard.css';

@import './components/Topic.css';

@import './components/Topics.css';

@import './components/TopicsOption.css';

@import './components/UpdateStationTab.css';

@import './components/UserActivity.css';

@import './components/UserInfo.css';

@import './pages/CreateStation.css';

@import './pages/Explore.css';

@import './pages/ManageStation.css';

@import './pages/Profile.css';

@import './pages/Signin.css';

@import './pages/Signup.css';

@import './pages/Station.css';

@import './pages/Subscriptions.css';

@import './pages/UserSettings.css';

/* body {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
} */
