@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import './router.css';

@import './components/CommentCard.css';

@import './components/CommentForm.css';

@import './components/Comments.css';

@import './components/MemberCard.css';

@import './components/Nav.css';

@import './components/StationCard.css';

@import './components/StationInfo.css';

@import './components/SubscriptionStationCard.css';

@import './components/TopicCard.css';

@import './components/Topics.css';

@import './components/TopicsOption.css';

@import './components/UpdateStationTab.css';

@import './components/UserActivity.css';

@import './components/UserCard.css';

@import './components/UserInfo.css';

@import './components/UserSettings.css';

@import './pages/CreateStation.css';

@import './pages/CreateTopic.css';

@import './pages/Explore.css';

@import './pages/ManageStation.css';

@import './pages/Profile.css';

@import './pages/SearchPage.css';

@import './pages/Signin.css';

@import './pages/Signup.css';

@import './pages/Station.css';

@import './pages/Subscriptions.css';

@import './pages/Topic.css';

#main {
  @apply flex flex-col;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  border: solid 30px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  border: solid 3px transparent;
}
