@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import './router.css';

@import './components/Nav.css';

@import './pages/Signup.css';

@import './pages/Signin.css';
